/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
}
